$color-primary-50: var(--primary-50-color);
$color-primary-100: var(--primary-100-color);
$color-primary-200: var(--primary-200-color);
$color-primary-300: var(--primary-300-color);
$color-primary-400: var(--primary-400-color);
$color-primary-500: var(--primary-500-color);
$color-primary-600: var(--primary-600-color);
$color-primary-700: var(--primary-700-color);
$color-primary-800: var(--primary-800-color);
$color-primary-900: var(--primary-900-color);

$color-secondary-50: var(--secondary-50-color);
$color-secondary-100: var(--secondary-100-color);
$color-secondary-200: var(--secondary-200-color);
$color-secondary-300: var(--secondary-300-color);
$color-secondary-400: var(--secondary-400-color);
$color-secondary-500: var(--secondary-500-color);
$color-secondary-600: var(--secondary-600-color);
$color-secondary-700: var(--secondary-700-color);
$color-secondary-800: var(--secondary-800-color);
$color-secondary-900: var(--secondary-900-color);